<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image 11538.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11562.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11564.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11566.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11568.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11570.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11572.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11574.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11576.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11578.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11580.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11582.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11584.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11586.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11588.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11656.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11658.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11660.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11662.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11664.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11666.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11668.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11670.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11672.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11674.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11676.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11678.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11680.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11682.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11684.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11686.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11688.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11690.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11692.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11694.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11696.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11698.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11700.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11702.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11704.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11706.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11708.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11710.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11712.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11714.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11716.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11718.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11720.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11722.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11724.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11726.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11728.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11730.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11732.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11734.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11736.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11738.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11740.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11742.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11744.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11746.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11748.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11750.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11752.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11642.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11644.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11646.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11648.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11650.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11652.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11654.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11788.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11790.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11792.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11794.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11796.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11798.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11800.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11802.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11804.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11806.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11808.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11810.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11812.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11814.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11816.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11818.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 11820.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 13235.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 13237.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 13239.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 13241.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 13243.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 13245.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 13247.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21094.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21084.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21086.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21088.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21090.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>440</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21092.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21096.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21098.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 21100.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>648</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Memtis0.png</string>
			<key>realTextureFileName</key>
			<string>Memtis0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>