<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image 4036.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4038.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4040.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4042.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4044.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4046.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4048.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4050.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4052.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4054.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4056.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4058.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4060.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4062.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4064.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4066.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4068.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4070.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4072.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4074.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>72</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4076.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4078.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4080.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4032.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 4034.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18468.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18470.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18472.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18474.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18476.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18478.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18480.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18482.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18484.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18486.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18488.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18490.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18492.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>672</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18494.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 18496.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Crusader20.png</string>
			<key>realTextureFileName</key>
			<string>Crusader20.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>